@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./fonts/Roboto/Roboto-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Oswald-Light';
  src: local('Oswald-Light'), url(./fonts/Oswald/Oswald-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Oswald-Regular';
  src: local('Oswald-Regular'), url(./fonts/Oswald/Oswald-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'SegoePrint';
  src: local('SegoePrint'), url(./fonts/SegoePrint/SegoePrint.ttf) format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

#root {
  background-color: #03989e;
  min-height: 100vh;
}

.row{
   margin: 0;
}

h1 {
  font-size: 2rem;
  font-family: 'Oswald-Regular', sans-serif;
}
h1.page-title{
  padding: 15px;
}
h2 {
  font-size: 1.4rem;
  font-family: 'Oswald-Regular', sans-serif;
}

.pages {
  display: flex;
  justify-content: center;
  padding: 15px;
  min-height: calc(100vh - 48px);
}

/* ----------------------- */
/* ----- MAX 1200 PX ----- */
/* ----------------------- */
@media (max-width: 1200px) {
  .profile-fields{
    padding-bottom: 3rem;
}
}

/* --------------------------------- */
/* ----- MAX 1024 PX / Laptop  ----- */
/* --------------------------------- */
@media (max-width: 1024px){

}

/* ----------------------- */
/* ----- MAX 966 PX  ----- */
/* ----------------------- */
@media (max-width: 966px){
  
}

/* ---------------------- */
/* ----- MAX 840 PX ----- */
/* ---------------------- */
@media (max-width: 840px) {
  
}

/* ------------------------ */
/* ----- MAX 800 PX   ----- */
/* ------------------------ */
@media (max-width: 800px){
  
}

/* ---------------------------------- */
/* ----- MAX 768 PX / Tablette  ----- */
/* ---------------------------------- */
@media (max-width: 768px) {
  .logo-footer img {
    max-width: 50%;
  }
  .search-filters div{
    width: 100%;
    border-bottom-left-radius: 0;
  }
  .cards{
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
}

/* ---------------------- */
/* ----- MAX 710 PX ----- */
/* ---------------------- */
@media (max-width: 709px) {
  
}

/* ----------------------- */
/* ----- MAX 660 PX  ----- */
/* ----------------------- */
@media (max-width: 660px){
  .form-login svg,
  .btn-discover svg {
      font-size: 8rem;
      margin-bottom: 1rem;
  }
}

/* A partir de 630px la taille de l'écran est bizarre */

/* ---------------------- */
/* ----- MAX 481 PX ----- */
/* ---------------------- */

@media (max-width: 481px) {

}

/* ---------------------------------- */
/* ----- MAX 425 PX / L mobile  ----- */
/* ---------------------------------- */
@media (max-width: 425px){
  h1 {
    font-size: 1.8rem;
  }
}

/* ---------------------------------- */
/* ----- MAX 375 PX / M mobile  ----- */
/* ---------------------------------- */
@media (max-width: 375px){
  .form-login,
  .btn-discover {
      padding: 4rem;
  }

  .form-login svg,
  .btn-discover svg {
      font-size: 6rem;
      margin-bottom: 1rem;
  }
}

/* ---------------------------------- */
/* ----- MAX 320 PX / S mobile  ----- */
/* ---------------------------------- */
@media (max-width: 320px){
  
}

