.comments-container {
    padding: 1.5%;
    background-color: #ffffff;
    width: 100%;
    border-radius: 30px;
    box-shadow: 1px 1px 5px #222320;
}

/* ----------------------- */
/* ----- MAX 1200 PX ----- */
/* ----------------------- */
@media (max-width: 1200px) {

}

/* --------------------------------- */
/* ----- MAX 1024 PX / Laptop  ----- */
/* --------------------------------- */
@media (max-width: 1024px){
  
}

/* ----------------------- */
/* ----- MAX 966 PX  ----- */
/* ----------------------- */
@media (max-width: 966px){
  
}

/* ---------------------- */
/* ----- MAX 840 PX ----- */
/* ---------------------- */
@media (max-width: 840px) {
  
}

/* ------------------------ */
/* ----- MAX 800 PX   ----- */
/* ------------------------ */
@media (max-width: 800px){
  
}

/* ---------------------------------- */
/* ----- MAX 768 PX / Tablette  ----- */
/* ---------------------------------- */
@media (max-width: 768px) {
  
}

/* ---------------------- */
/* ----- MAX 710 PX ----- */
/* ---------------------- */
@media (max-width: 709px) {
  
}

/* ----------------------- */
/* ----- MAX 660 PX  ----- */
/* ----------------------- */
@media (max-width: 660px){
  
}

/* ---------------------- */
/* ----- MAX 481 PX ----- */
/* ---------------------- */

@media (max-width: 481px) {

}

/* ---------------------------------- */
/* ----- MAX 425 PX / L mobile  ----- */
/* ---------------------------------- */
@media (max-width: 425px){
  
}

/* ---------------------------------- */
/* ----- MAX 375 PX / M mobile  ----- */
/* ---------------------------------- */
@media (max-width: 375px){
  
}

/* ---------------------------------- */
/* ----- MAX 320 PX / S mobile  ----- */
/* ---------------------------------- */
@media (max-width: 320px){
  
}