 .login-row{
     width: 100%;
 }
 form.login-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    width: 90%;
    margin: 0 5%;
    font-size: 1.2em;
}

.login-form .email-field,
.login-form .pass-field {
    margin: 5px 0 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.login-form div label {
    margin-bottom : 10px;
    color: #ffffff;
}

.login-form .email-field input {
    background-image: url("./icon_email.png") !important;
}

.login-form .pass-field input {
    background-image: url("./icon_password.png") !important;
}
.login-form .email-field input,
.login-form .pass-field input {
    border: none;
    height: 30px;
    padding: 2px 10px 2px 40px;
    width: 100%;
    border-radius: 10px;
    font-size: 18px;
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center left 10px;
    font-family: 'Roboto';
}
.msg-login-status{
    font-size: 18px;
}

.btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.btns .row {
    text-align: center;
    width: 100%;
}

.btns a {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.8em;
}

.btns a:hover {
    color: #febd59;
}

/* ----------------------- */
/* ----- MAX 1200 PX ----- */
/* ----------------------- */
@media (max-width: 1200px) {

}

/* --------------------------------- */
/* ----- MAX 1024 PX / Laptop  ----- */
/* --------------------------------- */
@media (max-width: 1024px){

}

/* ----------------------- */
/* ----- MAX 966 PX  ----- */
/* ----------------------- */
@media (max-width: 966px){

}

/* ---------------------- */
/* ----- MAX 840 PX ----- */
/* ---------------------- */
@media (max-width: 840px) {

}

/* ------------------------ */
/* ----- MAX 800 PX   ----- */
/* ------------------------ */
@media (max-width: 800px){

}

/* ---------------------------------- */
/* ----- MAX 768 PX / Tablette  ----- */
/* ---------------------------------- */
@media (max-width: 768px) {

}

/* ---------------------- */
/* ----- MAX 710 PX ----- */
/* ---------------------- */
@media (max-width: 709px) {

}

/* ----------------------- */
/* ----- MAX 660 PX  ----- */
/* ----------------------- */
@media (max-width: 660px){

}

/* ---------------------- */
/* ----- MAX 481 PX ----- */
/* ---------------------- */

@media (max-width: 481px) {

}

/* ---------------------------------- */
/* ----- MAX 425 PX / L mobile  ----- */
/* ---------------------------------- */
@media (max-width: 425px){

}

/* ---------------------------------- */
/* ----- MAX 375 PX / M mobile  ----- */
/* ---------------------------------- */
@media (max-width: 375px){

}

/* ---------------------------------- */
/* ----- MAX 320 PX / S mobile  ----- */
/* ---------------------------------- */
@media (max-width: 320px){

}