.accueil-container {
    background-color: #03989e;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
}
.logo-container img{
    margin-bottom: 15%;
}

.container-form {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-end;
}

.form-login,
.btn-discover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.form-login . {
    width: 100%;
}
.form-login img,
.btn-discover img {
    margin-bottom: 10%;
}

.form-login button,
.btn-discover a {
    background-color: #febd59;
    color: #222320;
    font-size: 1.2em;
    padding: 5px 15px;
    border : none;
    border-radius: 10px;
    text-decoration: none;
}
.form-login button:hover,
.btn-discover a:hover {
    background-color: #bcbdbc;
}

/* ---------------------------------- */
/* ----- MAX 768 PX / Tablette  ----- */
/* ---------------------------------- */
@media (max-width: 767px) {
    .form-login {
        margin-bottom: 10%;
    }
}
    