.main-menu{
    margin: 0 5% 0 2%;
    padding: 0;
    height: 100%;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 1px 1px 5px #222320;
}
.navbar-menu {
    width:100%;
    background-color: #222320;
    padding: 0;
    border-radius: 30px;
    box-shadow: 1px 1px 5px #222320;
    z-index: 1;
}
.navbar-menu .row{
    width: 100%;
    margin: 50% 0 70% 0;
    justify-content: center;
}
.navbar-menu .row i:hover,
.navbar-menu .row i.activeTab {
    color:#febd59;
    cursor: pointer;
}
.navbar-menu .logo-navbar{
    margin-bottom: 100%;
}
.navbar-menu .row i{
    color: #ffffff;
    font-size: 200%;
}
.logo-navbar {
    width: 100%;
}
.logo-navbar .app-logo-navbar{
    width: 80%;
    text-align: center;
}
.narvbar-menu .row {
    justify-content: center;
}
.logo-navbar div.row i {
    color: #ffffff;
}
.sub-menu {
    border-radius: 0 30px 30px 0;
    padding: 0;
}
.sub-menu h2 {
    font-size: 24px;
    text-align: left;
    margin: 10% 0;
    padding-left: 20px;
}
.sub-menu .row {
    margin-right: 0;
}
.sub-menu .row .col {
    padding-right: 0;
    padding-left: 0;
}
.sub-menu .hidden {
    display: none;
}
.sub-menu ul {
    list-style-type: none;
    margin: 2% 0;
    padding: 0;
}
.sub-menu .row li{
    padding-left: 20px;
    text-decoration: none;
}
.sub-menu .row li.subtitle{
    margin: 10px 0;
    font: 18px 'Oswald', sans-serif;
}
.sub-menu .row li.link span{
    display: block;
    padding-left: 20px;
    border-left: solid 1px #bcbdbc;
    margin: 0 0 0 10px;
    line-height: 30px;
}
.sub-menu .row li.link:hover {
    background-color: #c0e5e7;
}
.sub-menu .row li.link a {
    color: #222320;
}
.sub-menu .row li.link a:hover {
    color: #222320;
    text-decoration: none;
}
.sub-menu .row li.link span.activeSubTab {
    color: #febd59;
    border-left: solid 1px #febd59;
    
}
.logoutHover{
    cursor: pointer;
}
.logoutHover:hover{
    color: red;
}

/* ----- max 1200 PX ----- */
@media (max-width: 1199px) {
    .col-menu {
        width: 28%;
    }
    .col-content-page{
        width: 69%;
    }
}

/* ----- max 1100 PX ----- */
@media (max-width: 1099px) {
    .col-menu {
        width: 30%;
    }
    .col-content-page{
        width: 67%;
    }
    .sub-menu .row li.link span{
        font-size: 14px;
    }
}
/* ----- Max 1024 PX / Laptop  ----- */
@media (max-width: 1024px){
    
}
/* ----- max 980 PX ----- */
@media (max-width: 979px) {
    .col-menu {
        width: 32%;
    }
    .col-content-page{
        width: 65%;
    }
}
/* ----- Max 966 PX  ----- */
@media (max-width: 966px){
    
}
/* ----- Max 900 PX ----- */
@media (max-width: 899px) {
    .col-menu {
        width: 34%;
    }
    .col-content-page{
        width: 63%;
    }
    .sub-menu .row li.link span{
        font-size: 13px;
        padding-left: 10px;
        margin-left: 8px;
        line-height: 30px;
    }
    .sub-menu .row li{
        padding-left: 15px;
    }
}
/* ----- max 840 PX ----- */
@media (max-width: 839px) {
    .col-menu {
        width: 34%;
    }
    .col-content-page{
        width: 63%;
    }
    .sub-menu .row li.link span{
        font-size: 13px;
        padding-left: 10px;
        margin-left: 8px;
        line-height: 30px;
    }
    .sub-menu .row li{
        padding-left: 15px;
    }
}
/* ----- Max 800 PX   ----- */
@media (max-width: 800px){
    
}
/* ----- Max 780 PX ----- */
@media (max-width: 780px) {
    .col-menu {
        width: 34%;
    }
    .col-content-page{
        width: 63%;
    }
    .sub-menu .row li.link span{
        font-size: 13px;
        margin-left: 8px;
        line-height: 30px;
    }
    .sub-menu .row li{
        padding-left: 10px;
    }
}
/* ----- Max 768 PX / Tablette  ----- */
@media (max-width: 768px) {
    .col-menu {
        width: 36%;
    }
    .col-content-page{
        width: 61%;
    }
    .sub-menu .row li{
        padding-left: 6px;
    }
    .sub-menu .row li.subtitle{
        margin: 8px 0;
    }
    .sub-menu .row li.subtitle span{
        font-size: 16px;
    }
    .sub-menu .row li.link span{
        font-size: 13px;
        padding-left: 8px;
        margin-left: 8px;
        line-height: 25px;
        height: 25px;
    }
}
/* ----- Max 710 PX ----- */
@media (max-width: 709px) {
    .col-menu {
        width: 36%;
    }
    .col-content-page{
        width: 61%;
    }
    .sub-menu .row li{
        padding-left: 6px;
    }
    .sub-menu .row li.subtitle{
        margin: 8px 0;
    }
    .sub-menu .row li.subtitle span{
        font-size: 16px;
    }
    .sub-menu .row li.link span{
        font-size: 13px;
        padding-left: 8px;
        margin-left: 8px;
        line-height: 25px;
        height: 25px;
    }
}

/* ----- Max 660 PX  ----- */
@media (max-width: 660px){
    
}

/* ----- Max 425 PX / L mobile  ----- */
@media (max-width: 425px){
    
}

/* ----- Max 375 PX / M mobile  ----- */
@media (max-width: 375px){
    
}

/* ----- Max 320 PX / S mobile  ----- */
@media (max-width: 320px){
    
}
