.login-form {
    text-align: left;
    width: 30%;
}

.login-form form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-form form .email-field,
.login-form form .pass-field {
    margin: 5px 0 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.login-form form div label {
    margin-bottom : 10px;
}

.login-form form .email-field input,
.login-form form .pass-field input {
    border: none;
    height: 30px;
    width: 100%;
    border-radius: 10px;
}

.btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.btns a {
    color: #ffffff;
    text-decoration: none;
}

.btns a:hover {
    color: #febd59;
}

.btn-discover {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-discover img {
    margin-bottom: 10px;
}

.btn-discover a {
    background-color: #febd59;
    color: #222320;
    font-size: 20px;
    padding: 9px 10px 9px 10px;
    border : none;
    border-radius: 10px;
    font-size: 20px;
    text-decoration: none;
}
.btn-discover a:hover {
    background-color: #bcbdbc;
}