div.ressource-container {
    border: 1px solid black;
    padding: 1%;
    margin-bottom: 2%;
    background-color: #ffffff;
    width: 100%;
    border-radius: 3% / 15%;
}

div.ressource-container ul li{
    list-style-type: none;
}

