.last-adds {
    padding: 1.5% 1.5% 3% 1.5%;
    background-color: #ffffff;
    width: 100%;
    border-radius: 30px;
    box-shadow: 1px 1px 5px #222320;
}

.last-adds h2 {
    margin-bottom: 2%;
}

.catalog{
    display: flex;
    height: 100%;
}

.search-catalog {
    display: flex;
    flex-direction: row;
    padding: 1.5% 0;
}