div.comments {
    background-color: #ffffff;
    border-radius: 3% / 10%;
    box-shadow: 1px 1px 5px #222320;
    padding: 1%;
    width: 100%;
}

div.origin {
    border: 1px solid black;
    margin: 1%;
    padding: 1%;
}
div.answer {
    border: 1px solid black;
    margin: 0 1% 1% 4%;
    padding: 1%;
}

/* ----- max 1200 PX ----- */
@media (max-width: 1199px) {
    div.comments {
        padding: 2%;
    }
}