.main-menu{
    background-color: transparent;
    box-shadow: none;
    height: 100%;
}
.menu-open{
    padding: 0;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 1px 1px 5px #222320;
}
.navbar-menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    width:100%;
    background-color: #222320;
    padding: 0;
    border-radius: 30px;
    box-shadow: 1px 1px 5px #222320;
    z-index: 1;
}
.navbar-menu .icon-tab{
    width: 100%;
    margin: 50% 0 70% 0;
    justify-content: center;
}
.navbar-menu .icon-tab i:hover,
.navbar-menu .icon-tab i.activeTab {
    color:#febd59;
    cursor: pointer;
}
.navbar-menu .logo-navbar{
    margin-bottom: 100%;
}
.navbar-menu .icon-tab i{
    color: #ffffff;
    font-size: 200%;
}
.logo-navbar {
    width: 100%;
    margin-top: auto;
}
.logo-navbar .app-logo-navbar{
    width: 80%;
    text-align: center;
}
.narvbar-menu .icon-tab {
    justify-content: center;
}
.logo-navbar div.row i {
    color: #ffffff;
}
.sub-menu {
    border-radius: 0 30px 30px 0;
    padding: 0;
}
.sub-menu h2 {
    font-size: 24px;
    text-align: left;
    margin: 10% 0;
    padding-left: 20px;
}
.sub-menu .row {
    margin-right: 0;
}
.sub-menu .row .col {
    padding-right: 0;
    padding-left: 0;
}
.sub-menu .hidden {
    display: none;
}
.sub-menu ul {
    list-style-type: none;
    margin: 2% 0;
    padding: 0;
}
.sub-menu .row li{
    padding-left: 20px;
    text-decoration: none;
}
.sub-menu .row li.subtitle{
    margin: 10px 0;
    font: 18px 'Oswald', sans-serif;
}
.sub-menu .row li.link span{
    display: block;
    padding-left: 20px;
    border-left: solid 1px #bcbdbc;
    margin: 0 0 0 10px;
    line-height: 30px;
}
.sub-menu .row li.link:hover {
    background-color: #c0e5e7;
}
.sub-menu .row li.link a {
    color: #222320;
}
.sub-menu .row li.link a:hover {
    color: #222320;
    text-decoration: none;
}
.sub-menu .row li.link span.activeSubTab {
    color: #febd59;
    border-left: solid 1px #febd59;
    
}
.logoutHover{
    cursor: pointer;
}
.logoutHover:hover{
    color: rgb(236, 98, 98);
}

/* ----------------------- */
/* ----- MAX 1200 PX ----- */
/* ----------------------- */
@media (max-width: 1200px) {
}

/* --------------------------------- */
/* ----- MAX 1024 PX / Laptop  ----- */
/* --------------------------------- */
@media (max-width: 1024px){
  
}

/* ----------------------- */
/* ----- MAX 966 PX  ----- */
/* ----------------------- */
@media (max-width: 966px){
  
}

/* ---------------------- */
/* ----- MAX 840 PX ----- */
/* ---------------------- */
@media (max-width: 840px) {
}

/* ------------------------ */
/* ----- MAX 800 PX   ----- */
/* ------------------------ */
@media (max-width: 800px){
  
}

/* ---------------------------------- */
/* ----- MAX 768 PX / Tablette  ----- */
/* ---------------------------------- */
@media (max-width: 768px) {

}

/* ---------------------- */
/* ----- MAX 710 PX ----- */
/* ---------------------- */
@media (max-width: 710px) {

}

/* ----------------------- */
/* ----- MAX 660 PX  ----- */
/* ----------------------- */
@media (max-width: 660px){
  
}

/* ---------------------- */
/* ----- MAX 481 PX ----- */
/* ---------------------- */

@media (max-width: 481px) {

}

/* ---------------------------------- */
/* ----- MAX 425 PX / L mobile  ----- */
/* ---------------------------------- */
@media (max-width: 425px){
  
}

/* ---------------------------------- */
/* ----- MAX 375 PX / M mobile  ----- */
/* ---------------------------------- */
@media (max-width: 375px){
  
}

/* ---------------------------------- */
/* ----- MAX 320 PX / S mobile  ----- */
/* ---------------------------------- */
@media (max-width: 320px){
  
}