.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #222320;
    color: #ffffff;
    width: 100%;
    padding: 15px;
}
.footer .logo-footer {
    margin: auto;
    max-width: fit-content;
    padding: 15px;
}
.footer .img-logo-footer {
    width: 100%;
}
.footer .presentation {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    padding: 15px;
    font-size: 14px;
}
.presentation .slogan {
    font: italic 18px 'SegoePrint', sans-serif;
    color: #febd59;
}
.presentation .copyright {
    font-size: 12px;
    padding: 15px;
}
.footer .services {
    display: flex;
    flex-direction: column;
    margin: auto;
    width:fit-content;
    padding: 15px;
}
.footer .services h3 {
    font-size: 20px;
    font-weight: bold;
}
.footer .services ul {
    display: flex;
    flex-direction: column;
}
.footer .services ul li {
    list-style-type: none;
    font-size: 14px;
}
.footer-link a {
    color: #ffffff;
    text-decoration: none;
}
.footer-link a:hover {
    color: #febd59;
}

/* ----------------------- */
/* ----- MAX 1200 PX ----- */
/* ----------------------- */
@media (max-width: 1200px) {

}

/* --------------------------------- */
/* ----- MAX 1024 PX / Laptop  ----- */
/* --------------------------------- */
@media (max-width: 1024px){

}

/* ----------------------- */
/* ----- MAX 966 PX  ----- */
/* ----------------------- */
@media (max-width: 966px){

}

/* ---------------------- */
/* ----- MAX 840 PX ----- */
/* ---------------------- */
@media (max-width: 840px) {

}

/* ------------------------ */
/* ----- MAX 800 PX   ----- */
/* ------------------------ */
@media (max-width: 800px){

}

/* ---------------------------------- */
/* ----- MAX 768 PX / Tablette  ----- */
/* ---------------------------------- */
@media (max-width: 768px) {

}

/* ---------------------- */
/* ----- MAX 710 PX ----- */
/* ---------------------- */
@media (max-width: 709px) {

}

/* ----------------------- */
/* ----- MAX 660 PX  ----- */
/* ----------------------- */
@media (max-width: 660px){

}

/* ---------------------- */
/* ----- MAX 481 PX ----- */
/* ---------------------- */

@media (max-width: 481px) {

}

/* ---------------------------------- */
/* ----- MAX 425 PX / L mobile  ----- */
/* ---------------------------------- */
@media (max-width: 425px){

}

/* ---------------------------------- */
/* ----- MAX 375 PX / M mobile  ----- */
/* ---------------------------------- */
@media (max-width: 375px){

}

/* ---------------------------------- */
/* ----- MAX 320 PX / S mobile  ----- */
/* ---------------------------------- */
@media (max-width: 320px){

}