.profil-form{
    padding: 1.5%;
    margin-bottom: 2%;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    box-shadow: 1px 1px 5px #222320;
}
h1.page-title{
    padding: 15px;
    font-size: 200%;
}
.profile-field{
    padding: 2% 0;
}
.profile-field-part-2{
    padding: 10% 0;
}
.profile-field form {
    width: 100%;
}
.profile-field-part-2 .row{
    margin-bottom: 6%;
}
.profile-field input,
.profile-field-part-2 input{
    padding: 5px 10px;
    width: 100%;
}
.profile-field input{
    border: none;
    border-bottom:  1px solid #222320;
    background-color: #f0f0f0;
}
.profile-field input
.profile-field input:selected,
.profile-field input:focus{
    width: 100%;
    border: none;
    border-bottom:  1px solid #222320;
}
.input-btn-field {
    align-items: center;
}
.input-info{
    font-style: italic;
    line-height: 2.5em;
    font-size: 0.9em;
    color: red;
}
.btn-edit-text{
    text-align: right;
}
#btn-edit {
    border: none;
    color: #222320;
    background: none;
    font-size: 160%;
}
#btn-edit:hover {
    color: #febd59;
}
button.btn-email-psswd {
    width: 100%;
    padding: 10px;
    border: none;
}
button.btn-email-psswd:hover {
    background-color: #febd59;
}

button#btn-edit-email,
button#btn-edit-psswd{
    background-color: #febd59;
    color: #222320;
    font-size: 1.2em;
    padding: 5px 20px;
    border : none;
    border-radius: 10px;
    text-decoration: none;
}
button#btn-edit-email:hover,
button#btn-edit-psswd:hover {
    background-color: #bcbdbc;
}
button.activeForm{
    background-color: #febd59;
}
