.profil-form{
    padding: 1.5%;
    margin-bottom: 2%;
    background-color: #ffffff;
    width: 100%;
    border-radius: 30px;
    box-shadow: 1px 1px 5px #222320;
}
.profile-field,
.email-field,
.password-field{
    padding: 2% 0;;
}

.profile-field input{
    width: 80%;
}