@font-face {
    font-family: 'Oswald';
    src: local('Oswald') url('../../../fonts/Oswald/Oswald-SemiBold.ttf') format("ttf");
}
.sub-menu ul li {
    font: 16px 'Roboto', sans-serif;
}
.sub-menu ul .subtitle {
    font: 18px 'Oswald', sans-serif;
}
