.last-adds {
    padding: 15px;
    background-color: #ffffff;
    width: 100%;
    -webkit-border-top-left-radius: 30px;
    -webkit-border-top-right-radius: 30px;
    -moz-border-radius-topleft: 30px;
    -moz-border-radius-topright: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 1px 1px 5px #222320;
}
.last-adss-col {
    padding: 15px;
}
.last-adds h2 {
    margin-bottom: 2%;
}
.catalog{
    display: flex;
    height: 100%;
}